@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap") * {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: url("https://i.content4travel.com/cms/img/u/kraj/1/malediwy_0.jpg?version=7");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.description > h1 {
  padding: 30px 20px;
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  background: -webkit-linear-gradient(#092b79, #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-block {
  line-height: 1.8rem;
  padding: 15px 20px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 0s opacity 0.5s;
  height: 100vh;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.active {
  opacity: 1;
  visibility: visible;
}

.container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  text-align: center;
  padding: 5px;
}

input {
  margin-right: 5px;
}

.close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #00d4ff;
  padding: 5px 10px;
  color: white;
  font-weight: 800;
  cursor: pointer;
  transition: visibility 0.5s;
}

.no-active {
  visibility: 0;
  opacity: 0;
}
