* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.preload {
  min-height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: skyblue;
  transition: all 0.5s ease;
}

.preload h3 {
  position: absolute;
  top: 75%;
  transform: translateY(-75%);
  font-family: sans-serif;
  color: white;
}

.cloud1,
.cloud2,
.cloud3 {
  width: 200px;
  position: absolute;
  right: 0%;
  z-index: -1;
}

section {
  z-index: 2;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: skyblue;
  color: white;
  font-size: 60px;
  font-family: sans-serif;
}

.cloud1 {
  top: 25%;
  transform: translate(100%, -25%);
  animation: clouds 3s ease infinite;
}

.cloud2 {
  top: 50%;
  transform: translate(100%, -50%);
  animation: clouds 3s ease infinite 2s;
}

.cloud3 {
  top: 75%;
  transform: translate(100%, -75%);
  animation: clouds 3s ease infinite 1s;
}

.plane {
  animation: plane 1s ease infinite alternate;
}

@keyframes plane {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}

@keyframes clouds {
  from {
    right: 0%;
  }
  to {
    right: 130%;
  }
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}
