@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

body {
  margin: 0;
  font-family: "Architects Daughter", cursive;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  width: 100%;
}

.card-container {
  width: 200px;
  height: 300px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

figure {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  text-align: center;
}

.front {
  background: white;
}

.front p {
  font-size: 5em;
  color: pink;
}

.back {
  transform: rotateY(180deg);
  background: url("https://i.ibb.co/7zFNsM8/IMG-20201111-WA0002.jpg");
  background-size: cover;
}

.back h1 {
  color: gold;
}
