@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #111414;
}

header > h2 {
  text-align: center;
  padding: 20px;
  font-family: Lato, sans-serif;
  background-color: #fff;
}

#game-status {
  margin-top: 25px;
}

#game-status > p {
  color: #fff;
  font-family: Montserrat;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

#game-frame {
  width: 300px;
  border: 3px solid #fff;
  border-radius: 3%;
  margin: 0 auto;
  margin-top: 40px;
  color: #fff;
  font-family: Arial, sans-serif;
  position: relative;
  height: 150px;
}

.board {
  background: #ee1100;
  width: 30%;
  text-align: center;
  font-weight: bold;
  border-radius: 10%;
  padding: 5px;
}

.user-board {
  position: absolute;
  top: 50px;
  left: -40px;
}

.computer-board {
  position: absolute;
  top: 50px;
  right: -40px;
}


#result {
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
}

#signs {
  color: #fff;
  margin-top: 50px;
  text-align: center;
}

.sign {
  display: inline-block;
  font-size: 60px;
  padding: 20px;
  margin: 25px;
  border: 4px solid #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sign:hover {
  border-color: #ee0000;
}

#result-txt {
  color: #fff;
  font-family: Lato, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-top: 30px;
}