body {
	background: #193549;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 2.5rem;
	color: #fff;
	text-align: center;		
}

h1{
	font-size: 3rem;
}

.hightlight {
	color: gold;
}

.controls {
	margin-bottom: 50px;
}

:root {
  --spacing: 10px;
  --blur: 0px;
  --base: #ffc600;
  --border: 0%;
}

img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
	border-radius: var(--border);
}
